# executables
/keywordSearch
/a.out
/tests
/manualTests

#See templates at https://github.com/github/gitignore

#C/C++ library and object files
*.o
*.a
*.so
a.out

# MAC, vim, emacs goofiness
.DS_STORE
.DS_STORE?
*~
*#
.#*
.nfs*
.*.sw?
*.bak

# TeX/LaTeX
*.aux
*.log
*.bbl
*.out
*.synctex
*.synctex.gz

#More editor temp files
._*
.vscode

